body {
    margin: 0
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #101f33;
}

::-webkit-scrollbar-thumb {
    background: #243b5a;
}
::-webkit-scrollbar-thumb:hover {
    background: #243b5a;
}